.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconContainer {
  padding: 4.1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-top: -1.75rem;
  
}
.myName {
  text-shadow: 1px 1px 1px #000;
}
.brandTitle {
  text-align: center;
}

.brandTitle > h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: -6px;
}

.blueSpan {
  color: #0085ee;
}

.brandTitle > small {
  color: #888;
  font-size: 14px;
}
